<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<ros2_control name="at_dog_sys" type="system">

		<hardware>
			<plugin>hardware_at_dog/HardwareATDog</plugin>
		</hardware>

		<joint name="lf_joint1">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="lf_joint2">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="lf_joint3">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="rf_joint1">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="rf_joint2">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="rf_joint3">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="lb_joint1">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="lb_joint2">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="lb_joint3">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="rb_joint1">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="rb_joint2">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="rb_joint3">
			<command_interface name="position"/>
			<command_interface name="velocity"/>
			<command_interface name="effort"/>
			<command_interface name="kp"/>
			<command_interface name="kd"/>

			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

	</ros2_control>

</robot>
